# EDA

In [27]:
import pandas as pd

# 데이터 로드
url = 'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'
df = pd.read_csv(url)

# 기본 정보 확인
print(df.head())
print(df.info())
print(df.describe())

# 결측치 확인
print("결측치 수:\n", df.isnull().sum())

# Survived 클래스별 분포
print("생존자 수:\n", df['Survived'].value_counts())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200
결측치 수:
 PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
생존자 수:
 Survived
0    549
1    342
Name: count, dtype: int64

# Preprocessing

In [32]:
# Age 결측치는 중앙값으로 채우기
df['Age'] = df['Age'].fillna(df['Age'].median())

# Embarked 결측치는 최빈값으로 채우기
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])

# Sex, Embarked → 숫자 인코딩
df['Sex'] = df['Sex'].map({'male': 0, 'female': 1})
df['Embarked'] = df['Embarked'].map({'S': 0, 'C': 1, 'Q': 2})

# 필요 없는 컬럼 제거
df.drop(columns=['Name', 'Ticket', 'Cabin'], inplace=True)

KeyError: "['Name', 'Ticket', 'Cabin'] not found in axis"

# 피처와 타겟 설정

In [29]:
from sklearn.model_selection import train_test_split

# 피처와 타겟 설정
X = df[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']]
y = df['Survived']

# 학습/테스트 데이터 분할
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

# 모델 훈련 및 평가

In [30]:
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, confusion_matrix

# 로지스틱 회귀
logreg = LogisticRegression(solver='liblinear')
logreg.fit(X_train, y_train)
logreg_preds = logreg.predict(X_test)
print("Logistic Regression 정확도:", round(accuracy_score(y_test, logreg_preds), 3))
print("Confusion Matrix (Logistic Regression):\n", confusion_matrix(y_test, logreg_preds))

# 나이브 베이즈
gnb = GaussianNB()
gnb.fit(X_train, y_train)
gnb_preds = gnb.predict(X_test)
print("Naive Bayes 정확도:", round(accuracy_score(y_test, gnb_preds), 3))
print("Confusion Matrix (Naive Bayes):\n", confusion_matrix(y_test, gnb_preds))

Logistic Regression 정확도: 0.799
Confusion Matrix (Logistic Regression):
 [[97 13]
 [23 46]]
Naive Bayes 정확도: 0.788
Confusion Matrix (Naive Bayes):
 [[93 17]
 [21 48]]