In [3]:
print('This is code cell')

This is code cell

In [4]:
if 5 >2 :
    print('aaa')
    print('bbb')
print('ccc')

aaa
bbb
ccc

In [12]:
print("당신의 정보를 기록합니다~\n")

name="홍길동"
weight = 76.8
height = 171

print(f"당신의 이름은 %s, 몸무게는 %s, 키는 %d 입니다" %(name,weight,height))

당신의 정보를 기록합니다~

당신의 이름은 홍길동, 몸무게는 76.8, 키는 171 입니다

In [21]:
name = input("이름을 입력하세요: ")
age = int(input("나이를 입력하세요: "))
height = float(input("키를 입력하세요: "))

print("안녕하세요 %s님!\n나이: %d\n키: %.2fcm" % (name, age, height))

이름을 입력하세요:  안소희
나이를 입력하세요:  23
키를 입력하세요:  160

안녕하세요 안소희님!
나이: 23
키: 160.00cm

In [9]:
# 연습문제 1
age = int(input("당신의 나이는?: "))
if age  == 19:
    print("당신은 올해 성년이 되셨군요!")
if age != 19:
    print("당신은 19세가 아닙니다.")
if age >= 19:
    print("당신은 19세 이상입니다.")
if age > 19:
    print("당신은 20세 이상입니다.")
if 30 > age > 19:
    print("당신은 20대입니다")

당신의 나이는?:  25

당신은 19세가 아닙니다.
당신은 19세 이상입니다.
당신은 20세 이상입니다.
당신은 20대입니다

In [69]:
# 연습문제 2
animals = ['닭','소','돼지']

legs = int(input("다리가 몇 개입니까?: "))
children = input("새끼가 2마리 이상입니까?(True/False)").lower()
foods = input("초식입니까, 잡식입니까?(초식/잡식)")


if legs == 2:
    print("{}".format(animals[0]))
if legs == 4 and children == "true":
    print("{} 또는 {}입니다".format(animals[1],animals[2]))
if legs == 4 and children == "true" and foods == "잡식":
    print("{}가 분명합니다".format(animals[2]))
if legs == 4 and children == "true" and foods == '초식' :
    print("{}가 분명합니다".format(animals[1]))

다리가 몇 개입니까?:  4
새끼가 2마리 이상입니까?(True/False) TRue
초식입니까, 잡식입니까?(초식/잡식) 잡식

소 또는 돼지입니다
돼지가 분명합니다

In [41]:
# 연습문제 3
farm = ['닭','소','돼지']
animal = input("찾는 가축을 입력하세요: ")
if animal in farm:
    print("{}, 있습니다!".format(animal))
if animal not in farm: # else
    print("{}.. 없습니다..".format(animal))

찾는 가축을 입력하세요:  판다

판다.. 없습니다..

In [59]:
#심화 연습 문제
scores_data = """ 학생1: 홍길동, 성적: 85
학생2: 김철수, 성적: 90
학생3: 이영희, 성적: 78
학생4: 박민지, 성적: 92
학생5: 최준호, 성적: 88"""

students_data = scores_data.strip().split('\n')


names = [] # 이름
scores = [] # 점수

for student_info in students_data:
    parts = student_info.split(': ', 1)[1] #학생n 빼기 
    print(parts)
    name, score = parts.split(', 성적: ')
    
    names.append(name)
    scores.append(int(score))

print("학생 이름:", names)
print("학생 성적:", scores)

#평균 점수 계산
average_score = sum(scores) / len(scores)
print(f"평균 점수: {average_score:.2f}")

홍길동, 성적: 85
김철수, 성적: 90
이영희, 성적: 78
박민지, 성적: 92
최준호, 성적: 88
학생 이름: ['홍길동', '김철수', '이영희', '박민지', '최준호']
학생 성적: [85, 90, 78, 92, 88]
평균 점수: 86.60

In [ ]:
farms = ['제일농장','우리농장','한국농장']
animals = ['닭','소','돼지']

제일농장 = [100,50,80]
우리농장 = [50,10,20]
한국농장 = [200,100,150]

for farm in farms:
    print('\n')
    print('*'*5,farm,'*'*5)
    for i,animal in enumerate(animals):
        if farm == '제일농장':
            print("{}, {}마리입니다.".format(animal,제일농장[i]))
        elif farm == '우리농장':
            print("{}, {}마리입니다.".format(animal,우리농장[i]))
        elif farm == '한국농장':
            print("{}, {}마리입니다.".format(animal,한국농장[i]))

In [1]:
farms = ['제일농장', '우리농장', '한국농장']
animals = ['닭', '소', '돼지']

# 농장 데이터를 딕셔너리로 관리
farm_data = {
    '제일농장': [100, 50, 80],
    '우리농장': [50, 10, 20],
    '한국농장': [200, 100, 150]
}

# 농장별로 출력
for farm in farms:
    print('\n')
    print('*' * 5, farm, '*' * 5)
    for i, animal in enumerate(animals):
        print("{}, {}마리입니다.".format(animal, farm_data[farm]))

***** 제일농장 *****
닭, [100, 50, 80]마리입니다.
소, [100, 50, 80]마리입니다.
돼지, [100, 50, 80]마리입니다.


***** 우리농장 *****
닭, [50, 10, 20]마리입니다.
소, [50, 10, 20]마리입니다.
돼지, [50, 10, 20]마리입니다.


***** 한국농장 *****
닭, [200, 100, 150]마리입니다.
소, [200, 100, 150]마리입니다.
돼지, [200, 100, 150]마리입니다.

In [95]:
menu = [("Pizza", 12000),("Burger", 8000),("Pasta", 15000),("Sushi", 20000),("Salad", 6000)]
total = 0
print("메뉴판")
for i in range(len(menu)):
    print(f" {i+1}. {menu[i][0]} - {menu[i][1]}원 ")
    
    
lst = input("\n주문할 음식을 입력하세요(쉼표로 구분): " )
foods = lst.strip().split(",")
print("\n주문내역")
for i,food in enumerate(foods):
    food = food.strip()
    price = 0
    for item in menu:
        if item[0].lower() == food.lower():
            food = item[0]
            price = item[1]
            break
    if price > 0 :
        print(f"{i+1}. {food} - {price}원")
    else:
        print(f"{i+1}. 메뉴판에 없는 음식입니다")
    total += price

print("\n총 가격")
print(f"총: {total}원")

메뉴판
 1. Pizza - 12000원
 2. Burger - 8000원
 3. Pasta - 15000원
 4. Sushi - 20000원
 5. Salad - 6000원

주문할 음식을 입력하세요(쉼표로 구분):  pizza, salad, milk

주문내역
1. Pizza - 12000원
2. Salad - 6000원
3. 메뉴판에 없는 음식입니다

총 가격
총: 18000원