In [22]:
# 문자열 포매팅 연습
name = "안소희"
age = 23
height = 160.22222

print(f"{name}의 나이는 {age}세이고 키는{height:.2f}cm 입니다")

안소희의 나이는 23세이고 키는160.22cm 입니다

In [48]:
# 문자열 다루기 연습
mystring = "hello world"
new = "everyone"
print(mystring[:5])
print(mystring.split())
print(mystring.split()[0] + " "+ new)

hello
['hello', 'world']
hello everyone

In [64]:
 # 리스트 컴프리헨션 사용하기
lst = [i for i in range(10)]
print(lst)
new_lst = [i * 10 for i in range(10)]
print(new_lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [110]:
# 리스트와 딕셔너리 사용하기
lst = [23, 20, 21, 30, 29]
lst.append(40)
print(lst)
lst.insert(1, 25)
print(lst)
lst.remove(21)  
print(lst)
삭제된_요소 = lst.pop(2) 
print(lst)
제곱_리스트 = [x**2 for x in lst]
print(제곱_리스트)

student_scores ={
    "안소희" : 100,
    "정의찬" : 90,
    "정새움" : 80,
    "황병주" : 77,
}

sohee_score = student_scores["안소희"]
print(sohee_score)
student_scores["김하나"] = 99
print(student_scores)
pass_student = {name: score for name, score in student_scores.items() if score >= 80}
print(pass_student)

[23, 20, 21, 30, 29, 40]
[23, 25, 20, 21, 30, 29, 40]
[23, 25, 20, 30, 29, 40]
[23, 25, 30, 29, 40]
[529, 625, 900, 841, 1600]
100
{'안소희': 100, '정의찬': 90, '정새움': 80, '황병주': 77, '김하나': 99}
{'안소희': 100, '정의찬': 90, '정새움': 80, '김하나': 99}